<h1>Products Index</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th>Version</th>
      <th>Release Date</th>
      <th>Value</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
  <% products.each do |product| %>
    <%= render "product", product: product %>
  <% end %>
  </tbody>
</table>

<%= link_to "Create a New Product", new_product_path %>
